slack:
  token: 'xoxp-XXXXXXX'
  notify_cnannel: '#XXXXX'
github:
  api_endpoint: 'https://<your.github.enterprise>/api/v3/'
  access_token: 'XXXXXXX'
  save_gist_id: 'XXXXXXX'
  save_gist_file: 'XXXXXXXXXXXX'
